########################### NETWORKS
networks:
  default:
    driver: bridge
    ipam:
      config:
        - subnet: 172.18.0.0/16
  socket_proxy:
    name: socket_proxy
    driver: bridge
    ipam:
      config:
        - subnet: 192.168.91.0/24
  traefik_proxy:
    name: traefik_proxy
    driver: bridge
    ipam:
      config:
        - subnet: 192.168.90.0/24

secrets:
  wg_private_key:
    file: $DOCKERDIR/secrets/wg_private_key
  ddns_updater_config:
    file: $DOCKERDIR/secrets/ddns_updater_config
  cf_dns_api_token:
    file: $DOCKERDIR/secrets/cf_dns_api_token
  cf_zone_api_token:
    file: $DOCKERDIR/secrets/cf_zone_api_token
  cf_tunnel_token:
    file: $DOCKERDIR/secrets/cf_tunnel_token
  postgres_default_password:
    file: $DOCKERDIR/secrets/postgres_default_password
  authentik_postgresql_user:
    file: $DOCKERDIR/secrets/authentik_postgresql_user
  authentik_postgresql_password:
    file: $DOCKERDIR/secrets/authentik_postgresql_password
  authentik_secret_key:
    file: $DOCKERDIR/secrets/authentik_secret_key
  crowdsec_bouncer_traefik_key:
    file: $DOCKERDIR/secrets/crowdsec_bouncer_traefik_key
  immich_db_password:
    file: $DOCKERDIR/secrets/immich_db_password
  fireflyiii_db_password:
    file: $DOCKERDIR/secrets/fireflyiii_db_password
  fireflyiii_app_key:
    file: $DOCKERDIR/secrets/fireflyiii_app_key
  fireflyiii_cron_token:
    file: $DOCKERDIR/secrets/fireflyiii_cron_token
  fireflyiii_pat:
    file: $DOCKERDIR/secrets/fireflyiii_pat
  proton_smtp_token:
    file: $DOCKERDIR/secrets/proton_smtp_token
  n8n_db_password:
    file: $DOCKERDIR/secrets/n8n_db_password
  n8n_encryption_key:
    file: $DOCKERDIR/secrets/n8n_encryption_key
  grafana_oauth_client_secret:
    file: $DOCKERDIR/secrets/grafana_oauth_client_secret
  grafana_oauth_client_id:
    file: $DOCKERDIR/secrets/grafana_oauth_client_id
  sonarr_api_key:
    file: $DOCKERDIR/secrets/sonarr_api_key
  radarr_api_key:
    file: $DOCKERDIR/secrets/radarr_api_key
  s3_access_key:
    file: $DOCKERDIR/secrets/s3_access_key
  s3_secret_key:
    file: $DOCKERDIR/secrets/s3_secret_key

include:
  ########################### SERVICES
  # HOSTNAME defined in .env file
  - compose/$HOSTNAME/socket-proxy.yml
  - compose/$HOSTNAME/cloudflare-tunnel.yml
  - compose/$HOSTNAME/cloudflare-bouncer.yml
  - compose/$HOSTNAME/crowdsec.yml
  - compose/$HOSTNAME/smtp-relay.yml
  - compose/$HOSTNAME/traefik.yml
  - compose/$HOSTNAME/watchtower.yml

  - compose/$HOSTNAME/redis.yml
  # - compose/$HOSTNAME/s3.yml
  - compose/$HOSTNAME/immich.yml
  - compose/$HOSTNAME/fireflyiii.yml
  - compose/$HOSTNAME/n8n.yml
  - compose/$HOSTNAME/shlink.yml
  - compose/$HOSTNAME/bentopdf.yml
  - compose/$HOSTNAME/hishtory.yml

   ########################### OTEL SERVICES
  - compose/$HOSTNAME/loki.yml
  - compose/$HOSTNAME/prometheus.yml
  - compose/$HOSTNAME/alloy.yml
  - compose/$HOSTNAME/grafana.yml

  ########################### POSTGRESQL RELATED
  - compose/$HOSTNAME/postgresql.yml
  - compose/$HOSTNAME/authentik.yml
  # - compose/$HOSTNAME/mariadb.yml

  ########################### MEDIA SERVICES
  - compose/$HOSTNAME/jellyfin.yml
  - compose/$HOSTNAME/seerr.yml
  - compose/$HOSTNAME/convertx.yml

  ########################### STARR SERVICES
  - compose/$HOSTNAME/sonarr.yml
  - compose/$HOSTNAME/radarr.yml
  - compose/$HOSTNAME/bazarr.yml
  - compose/$HOSTNAME/flaresolverr.yml
  - compose/$HOSTNAME/qbittorrent.yml
  - compose/$HOSTNAME/gluetun.yml
  - compose/$HOSTNAME/prowlarr.yml
  - compose/$HOSTNAME/tdarr.yml
  - compose/$HOSTNAME/unpackerr.yml
  - compose/$HOSTNAME/cleanuparr.yml
